.table {
  border: solid 1px #2e9e9e;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}

.table thead th {
  background-color: #DDEFEF;
  border: solid 1px #2e9e9e;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

.table tbody td {
  border: solid 1px #2e9e9e;
  color: #333;
  padding: 5px 20px;
  text-shadow: 1px 1px 1px #fff;
}

.table-vertical tbody td {
  border-top: none;
  border-bottom: none;
}

.container {
  max-width: 500px;
  margin: auto;
}
